<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account.css' %}">
    <title>{% block title %}Ustore{% endblock %}
        </title>
</head>
<body>
    <div class="container">
        <section id="content">
            
            {% block form %}
                            
                
            {% endblock %}
                
        </section><!-- content -->
    </div><!-- container -->
</body>
</html>