<div class="related-products-wrapper">
    <h2 class="related-products-title">Related Products</h2>
    <div class="related-products-carousel">
        {% for item in related_products %}
            <div class="single-product">
                <div class="product-f-image">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                    <div class="product-hover">
                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        <a href="{{ item.get_absolute_url }}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                </div>

                <h2><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h2>

                <div class="product-carousel-price">
                    <ins>${{ item.price }}</ins> <!-- <del>$100.00</del> -->
                </div> 
            </div>    
        {% endfor %}                  
    </div>
</div>