<div class="col-md-4">
    <div class="single-sidebar">
        <h2 class="sidebar-title">Search Products</h2>
        <form method="get" action="{% url 'shop:search_list' %}">
            <input type="text" name="s" placeholder="Search products...">
            <input type="submit" value="Search">
        </form>
    </div>
    
    <div class="single-sidebar">
        <h2 class="sidebar-title">Products</h2>
        {% for item in latest_products %}
            <div class="thubmnail-recent">
                {% if item.image %}
                    <img src="{{ item.image.url }}" class="recent-thumb" alt="{{ item.name }}">
                {% endif %}
                <h2><a href="{{ item.get_absolute_url }}">{{ item.name }}></a></h2>
                <div class="product-sidebar-price">
                    <ins>${{ item.price }}</ins> <!-- <del>$100.00</del> -->
                </div>                             
            </div>
        {% endfor %}
    </div>
    
    <!-- <div class="single-sidebar">
        <h2 class="sidebar-title">Recent Posts</h2>
        <ul>
            <li><a href="">Sony Smart TV - 2015</a></li>
            <li><a href="">Sony Smart TV - 2015</a></li>
            <li><a href="">Sony Smart TV - 2015</a></li>
            <li><a href="">Sony Smart TV - 2015</a></li>
            <li><a href="">Sony Smart TV - 2015</a></li>
        </ul>
    </div> -->
</div>