{% load static %}
<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top Sellers</h2>
                    <a href="{% url 'shop:top_sellers' %}" class="wid-view-more">View All</a>
                    
                    {% for product in top_sellers %}   
                        <div class="single-wid-product">
                            {% if product.image %}
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-thumb">
                                </a>
                            {% endif %}
                            <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                            <div class="product-wid-rating">
                                {% if product.average_score.ranges %}
                                    {% for i in product.average_score.ranges %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                    ({{ product.average_score.reviews_count }})
                                {% endif %}
                            </div>
                            <div class="product-wid-price">
                                <ins>${{ product.price }}</ins> <!-- <del>$425.00</del> -->
                            </div>                            
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Recently Viewed</h2>
                    <a href="{% url 'shop:recently_viewed' %}" class="wid-view-more">View All</a>
                    
                    {% for product in recently_viewed %}     
                        <div class="single-wid-product">
                            {% if product.image %}
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-thumb">
                                </a>
                            {% endif %}
                            <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                            <div class="product-wid-rating">
                                {% if product.average_score.ranges %}
                                    {% for i in product.average_score.ranges %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                    ({{ product.average_score.reviews_count }})
                                {% endif %}
                            </div>
                            <div class="product-wid-price">
                                <ins>{{ product.price }}</ins><!--  <del>$425.00</del> -->
                            </div>                            
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top New</h2>
                    <a href="{% url 'shop:top_new' %}" class="wid-view-more">View All</a>
                    
                    {% for product in top_new %}
                        <div class="single-wid-product">
                            {% if product.image %}
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-thumb">
                                </a>
                            {% endif %}
                            <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                            <div class="product-wid-rating">
                                {% if product.average_score.ranges %}
                                    {% for i in product.average_score.ranges %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                    ({{ product.average_score.reviews_count }})
                                {% endif %}
                            </div>
                            <div class="product-wid-price">
                                <ins>${{ product.price }}</ins> <!-- <del>$425.00</del> -->
                            </div>                            
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> <!-- End product widget area -->