{% extends '_base.html' %}
{% load static %}
{% load shop_extras %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}
       
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>{{ product.name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <!-- Include sidebar -->
                {% single_sidebar %}
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="/">Home</a>
                            <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </div>
                        <div class="product-favorite">
                            <p data-id="{{ product.id }}">Add to my favorite</p>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-wid-rating">
                                        Score : 
                                        {% with reviews as product.average_score %}
                                            {% if reviews.ranges %}
                                                {% for i in average.ranges %}
                                                    <i class="fa fa-star"></i>
                                                {% endfor %}
                                                ({{ reviews.reviews_count }})
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="product-main-img">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                    
                                    <div class="product-gallery">
                                        {% for image in product.gallery.all %}
                                            {% if image.image %}
                                                <img src="{{ image.image.url }}" alt="{{ image.product.name }}">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{ product.name }}</h2>
                                    <div class="product-inner-price">
                                        <ins>${{ product.price }}</ins> <!-- <del>$100.00</del> -->
                                    </div>    
                                    
                                    <form action="{% url 'cart:cart_add' product.id %}" method="POST" class="cart">
                                        {{ cart_product_form.override }}
                                        <div class="quantity">
                                           {{ cart_product_form.quantity }}
                                        </div>
                                        {% csrf_token %}
                                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                                    </form>   
                                    
                                    <!-- <div class="product-inner-category">
                                        <p>Category: <a href="">Summer</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
                                    </div> 
                                     -->
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>  
                                                {{ product.description|safe }}
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <p class="st-message">Success</p>
                                                <div class="submit-review">
                                                    <form method="POST" id="form-review">
                                                        {% csrf_token %}
                                                        <p><label for="name">Name</label>{{ form.name }}</p>
                                                        <p><label for="email">Email</label>{{ form.email }}</p>
                                                        <div class="rating-chooser">
                                                            <p>Your rating</p>
                                                            <div class='rating-stars text-center'>
                                                                <ul id='stars'>
                                                                <li class='star' title='Poor' data-value='1'>
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                                <li class='star' title='Fair' data-value='2'>
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                                <li class='star' title='Good' data-value='3'>
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                                <li class='star' title='Excellent' data-value='4'>
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                                <li class='star' title='WOW!!!' data-value='5'>
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                                </ul>
                                                            </div>
                                                            {{ form.rating }}
                                                        </div>
                                                        <p><label for="review">Your review</label>{{ form.description }}</textarea></p>
                                                        <p><input type="submit" value="Submit"></p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                        {% include 'part/related_products.html' %}
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}