{% extends 'base.html' %}
{% load static %}

{% block title %} {{ category.name }} {% endblock title %}

{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper product-upper-list">
                                <img src="/media/{{ product.image }}" alt="{{ product.name }}">
                            </div>
                            <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                            <div class="product-carousel-price">
                                <ins>${{ product.price }}</ins> <!-- <del>$999.00</del> -->
                            </div>  
                            
                            <div class="product-option-shop">
                                <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ cart_product_form.override }}
                                    {{ cart_product_form.quantity }}
                                    <a href="#" class="add_to_cart_button" onclick="this.parentNode.submit()"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                </form>
                            </div>                       
                        </div>
                    </div>
                {% endfor %} 
                </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}